* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --index: calc(1vw + 1vh);
  --color-header: black;
  --color-text: white;
}

/*
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}
*/

body {
  background-color: black;

  font-family: 'Roboto', sans-serif;
  color: white;

  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.hero-section img {
  position: absolute;
  left: 40vw;
  width: calc(var(--index) * 40);

  mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 90%);
  -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 80%);

  z-index: -1;
}

.main-header {
  height: 100vh;
}

.container {
  padding: 0vh 7vw;
}

.main-title {
  font-size: calc(var(--index) * 7);
  line-height: .9;

  position: absolute;
  bottom: 10vh;

  width: min-content;
}

.gallery {
  display: flex;

}

.gallery > * {
  flex: 1;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.gallery img {
  width: calc(var(--index) * 15);
}